In [1]:
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
%matplotlib inline

Create a list called list1 of 5 numbers between 0 and 100

In [2]:
list1 = [2, 5, 78, 32, 7, 8]

Print this list as a string

In [3]:
str(list1)

'[2, 5, 78, 32, 7, 8]'

Print each number in this list individually (one at a time) as a string

In [4]:
for item in list1:
    print str(item)

2
5
78
32
7
8


Print the first number in this list as a string

In [5]:
print str(list1[0])

2










Create a list called list2 of 5 numbers between 100 and 200

In [6]:
list2 = [145, 176, 134, 187, 122]

Print this list as a string

In [9]:
str(list2)

'[145, 176, 134, 187, 122]'

Print each number in this list invidually (one at a time) as a string

In [10]:
for item in list2:
    print str(item)

145
176
134
187
122

Print the first number in this list as a string

In [11]:
print str(list2[0])

145

Print the first number in list1 followed by a space followed by the first number in list2

In [12]:
print(str(list1[0]) + " " + str(list2[0]))

2 145

Print each number in list1, then a space, then that number in list2. ALL AS STRINGS.

That is print the first number in list1, space, the first number in list2.

The second number in list1, space, the second number in list2.

And so on.

In [13]:
for i in range(5):
    print(str(list1[i]) + " " + str(list2[i]))

2 145
5 176
78 134
32 187
7 122

Do the same as above but now skip an extra line between each print statement using the string command to skip a line: '\n'

In [14]:
for i in range(5):
    print(str(list1[i]) + " " + str(list2[i]) + "\n")

2 145

5 176

78 134

32 187

7 122

Write your two lists as you did above except now to an output file called print_practice.dat

I have included in the cell three functions you will need:

In [26]:
#opens a file called print_practice.dat that you are going to write into
f = open('print_practice.dat','w')

#you will need to figure out what goes into the parentheses to be written into the file
# we use len(list1)-1 in case the lengthb of the list changes
for i in range(len(list1) - 1):
    f.write(str(list1[i]) + " " + str(list2[i]) + "\n")

#closes the file when you are done
f.close()

Now open the file and see if you can read in the two lists!

In [32]:
f = open('print_practice.dat','r')
reading = f.read()
print reading
f.close()

2 145
5 176
78 134
32 187
7 122