In [70]:
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
%matplotlib inline

Create a list called list1 of 5 numbers between 0 and 100

In [71]:
list1 = [7, 24, 53, 77, 89]

Print this list as a string

In [72]:
print (str(list1))

[7, 24, 53, 77, 89]

Print each number in this list individually (one at a time) as a string

In [73]:
i = 0
while (i<=4):
    print(str(list1[i]))
    i +=1

7
24
53
77
89


Print the first number in this list as a string

In [74]:
print (str(list1[0]))

7










Create a list called list2 of 5 numbers between 100 and 200

In [75]:
list2 = [102,135,147,168,193]

Print this list as a string

In [76]:
print (str(list2))

[102, 135, 147, 168, 193]

Print each number in this list invidually (one at a time) as a string

In [77]:
i = 0 
while (i<=4):
    print (str(list2[i]))
    i += 1

102
135
147
168
193

Print the first number in this list as a string

In [78]:
print (str(list2[0]))

102

Print the first number in list1 followed by a space followed by the first number in list2

In [79]:
print ((str(list1[0])) + " "  + (str(list2[0])))

7 102

Print each number in list1, then a space, then that number in list2. ALL AS STRINGS.

That is print the first number in list1, space, the first number in list2.

The second number in list1, space, the second number in list2.

And so on.

In [80]:
i = 0
while (i<=4):
    print ((str(list1[i])) + " "  + (str(list2[i])))
    i += 1

7 102
24 135
53 147
77 168
89 193

Do the same as above but now skip an extra line between each print statement using the string command to skip a line: '\n'

In [81]:

i = 0
while (i<=4):
    print ((str(list1[i])) + " "  + (str(list2[i])) + '\n')
    i += 1

7 102

24 135

53 147

77 168

89 193

In [86]:
i = 0
for i in range(len(list1)):
    numstr = ((str(list1[i])) + " "  + (str(list2[i])) + '\n')
    print(numstr)
    i += 1

7 102

24 135

53 147

77 168

89 193

Write your two lists as you did above except now to an output file called print_practice.dat

I have included in the cell three functions you will need:

In [83]:
#opens a file called print_practice.dat that you are going to write into
f = open('print_practice.dat','w')

#you will need to figure out what goes into the parentheses to be written into the file
#i = 0
#while (i<=4):
    #numstr = ((str(list1[i])) + " "  + (str(list2[i])) + '\n')
    #f.write(numstr)
    #i += 1
    
i = 0
for i in range(len(list1)):
    numstr = ((str(list1[i])) + " "  + (str(list2[i])) + '\n')
    f.write(numstr)
    i += 1
#closes the file when you are done
f.close()

Now open the file and see if you can read in the two lists!

In [84]:
f = open('print_practice.dat','r')
reading = f.read()
print (reading)

7 102
24 135
53 147
77 168
89 193